.hero {
  display: grid;
  gap: 3.75rem;
  h1 {
    color: var(--color-primary);
    font-weight: 800;
    font-size: 4.25rem;
    line-height: 1.3;
    max-inline-size: 50rem;
  }
  P {
    font-size: 1.5rem;
    line-height: 1.5;
    max-inline-size: 36rem;
  }
  .actions {
    display: flex;
    gap: 1rem;
  }
}
