.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  inline-size: min(75rem, 100% - 2rem);
  padding-block: 2rem;
  margin-inline: auto;
  .logo {
    img {
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      list-style: none;
      li {
        a {
          color: inherit;
          text-decoration: none;
          font-weight: 700;

          &:active {
            color: var(--color-primary);
            text-decoration: underline var(--color-primary);
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    gap: 2rem;
    button {
    }
  }
}
